.size-list::-webkit-scrollbar {
    display: none;
}

.size-list {
    grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 767px) {
    .size-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

::-webkit-scrollbar {
    width: 5px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* color of the track */
}

::-webkit-scrollbar-thumb {
    background-color: #555; /* color of the thumb */
    border-radius: 5px; /* roundness of the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #333; /* color of the thumb on hover */
}

.nav-tabs2::-webkit-scrollbar {
    display: none;
}
